snippet reanimate "Basic template" bA
#!/usr/bin/env stack
-- stack runghc --package reanimate
{-# LANGUAGE OverloadedStrings #-}
module Main
  ( main
  )
where

import              Reanimate
import              Reanimate.Scene
import              Constantes
import              Plano

main :: IO ()
main = reanimate $ 

$0
endsnippet
