# Goes in ~/.xprofile

# This sets my prefferred keyboard layout
setxkbmap us altgr-intl

# This restores the last wallpaper set with nitrogen
nitrogen --restore &

# This uses picom as a compositor
picom -f &

# This restores the last keyboard lighting profile set with ckb-next
# (Be sure to install the 'ckb-next' package)
ckb-next -b &

# Activate numlock (be sure to install the 'numlockx' package)
numlockx on &
